@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@100&display=swap');


.nameFont{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
}

.imgDog{
    height: 150px;
    max-width: 140px;
    border-radius: 30%;
    shape-outside: circle(30%);
    outline: none;

  }

.Cardcontainer{
    position: static;
    margin:20px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:280px;
    width: 300px;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 30%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 5%;
    /* border-radius: 20%; */
    background-color: rgba(255, 255, 255, 0.5);
  }

.comportamieno{
    overflow: hidden;
    display: flex;
    text-align: center;
}