
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Roboto+Condensed&family=Roboto:wght@100&display=swap');

  
  .cardContent{
    justify-content:space-between;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(0, 0, 0, 0.3);
     /*  10% opaque green */  
    padding: 20px;
    margin: 20px;
    width: 1500px;
    height: 620px;
  }

  .cardContentFilter{
    justify-content:center;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(0, 0, 0, 0.3);
     /*  10% opaque green */  
    padding: 20px;
    margin: 20px;
    width: 1500px;
    height: 620px;
  }

  .body{
    background-image: url('./assets/background.png');
    position:static;
    background-attachment: fixed;
    justify-content: center;
    height: 100vh;
    background-size: 135%;
    background-color: none;
    overflow: hidden;
  }

  .background{
    justify-content: center;
  }

  .backgroundcolor{
    background-color: none;
  }

.loadingContainer{
  position: fixed; 
  display: inline-flex;
  justify-content:center;
  height: 150px;
  width: 220vh;
  background-color: white;
  right: 5%;
  left: -2%;
  top: 70%;
  }

  .menuContainer{
    background-color: #008060;

  }

  .menu{
    display: inline-flex;
    justify-content: space-around;
    width: 140vh;
    height:5vh;
  }


  /* PAGINADO */
  
  .pagination{
    display:inline-flex;
    position: relative;
    justify-content: space-around;
    bottom: 40px;
    width: 600px;
  }
  
/* 

  .buttonDiv{
    background-color: beige;
  } */

  .homeButton{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    text-align: center;
    border: 0;
    min-height: 36px;
    min-width: 100px;
    color: #ffffff;
    background: #008060;
    border-radius: none;
    font-weight: 500;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px 0px inset;
    
  }
  .homeButton:hover {
      background: #006e52;
  }
  .linkColor{
    padding: 0px;
    margin: 0px;
  }


  .error{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5em;
    font-family: 'Noto-Serif';
    border-radius: 10%;
    color: #ff5454;
    height: 75vh;
    width: 190vh;
    background-color: rgba(255, 255, 255, 0.8);
  }